:root {
  --color-coconut: #fff;
  --color-titanium: #ededed;
  --color-tamarind: #979797;
  --color-sasame: #424242;
  --color-kiwi: #37643d;
  --color-strawberry: #dc3632;
  --color-blueberry: #2cacd1;
}
